@using Domoupravitel.Components.Shared
@using Domoupravitel.Data

@inject ApplicationDbContext db;

<BaseModal @ref="modal" IsInfoOnly="false" Title="Разход" Size="lg" OnSave="SaveExpense">
    <EditForm Model="@expense">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="d-flex gap-3">
            <div class="form-floating">
                <input min="0" type="number" class="form-control" id="floatingInput" placeholder="Месечна такса" @bind-value="expense.MonthlyFee">
                <label for="floatingInput">Месечна такса</label>
            </div>
            <div class="form-floating">
                <input min="0" type="number" class="form-control" id="floatingInput" placeholder="Ток" @bind-value="expense.Electricity">
                <label for="floatingInput">Ток</label>
            </div>
            <div class="form-floating">
                <input min="0" type="number" class="form-control" id="floatingInput" placeholder="Асансьор" @bind-value="expense.Elevator">
                <label for="floatingInput">Асансьор</label>
            </div>
            <div class="form-floating">
                <input min="0" type="number" class="form-control" id="floatingInput" placeholder="Дом. любимци" @bind-value="expense.Pets">
                <label for="floatingInput">Дом. любимци</label>
            </div>
            <div class="form-floating">
                <input min="0" type="number" class="form-control" id="floatingInput" placeholder="Чистачка" @bind-value="expense.Cleaning">
                <label for="floatingInput">Чистачка</label>
            </div>
        </div>

    </EditForm>
</BaseModal>

@code {
    private BaseModal? modal;

    private Expense expense { get; set; } = default!;

    [Parameter, EditorRequired]
    public EventCallback<Expense> OnSaved { get; set; }

    public void Show(Expense? currentExpese)
    {
        expense = currentExpese ?? new() { Date = DateOnly.FromDateTime(DateTime.UtcNow) };
        modal?.Show();
    }

    private async Task SaveExpense()
    {
        if (expense.Id == Guid.Empty)
        {
            var hasMonthlyExpense = await db.Expenses.AnyAsync(e => e.Date.Month == expense.Date.Month && e.Date.Year == expense.Date.Year);

            if (hasMonthlyExpense)
            {
                throw new InvalidOperationException("Разход за този месец вече съществува.");
            }
        }
        else
        {
            var date = DateTime.UtcNow;

            if (expense.Date.Month != date.Month && expense.Date.Year != date.Year)
            {
                throw new InvalidOperationException("Не може да се редактира разход за минал месец.");
            }

            var hasTransactions = await db.Transactions.AnyAsync(t => t.ExpenseId == expense.Id);

            if (hasTransactions)
            {
                throw new InvalidOperationException("Не може да се редактира разход със свързани транзакции.");
            }
        }

        if (expense.MonthlyFee < 0 && expense.Cleaning < 0 && expense.Electricity < 0
            && expense.Elevator < 0 && expense.Pets < 0)
        {
            throw new InvalidOperationException("Сумите не могат да бъдат отрицателни.");
        }

        if (expense.Id == Guid.Empty)
        {
            expense.Id = Guid.NewGuid();
            db.Expenses.Add(expense);
        }
        else
        {
            db.Expenses.Update(expense);
        }

        await db.SaveChangesAsync();
        modal?.Hide();

        await OnSaved.InvokeAsync(expense);
    }
}